<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="LOGIN PAGE" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="stylesheets/default.css"/>
    <link rel="icon" href="images/icon.png" type="image/x-icon" />
</head>

<body>
    <style>
        .houses {
            border-color: blueviolet;
        }
    </style>
    <!-- <script src="javascripts/login.js"></script> -->

    <header>
        <h1>Welcome <%=user.F_NAME%> <% if (user.M_NAME) { %><%= user.M_NAME %><% } %> <%=user.L_NAME%>!</h1>
    </header>

    <hr>

    <main>
        <% if(user.CATEGORY == 3) { %>
            <br><a href="/house-info">Post your property here!</a><br><br><br>
            <% if(houses.length > 0) {%>
                <h2>Your houses registered on our website:</h2><br>
            <% } else { %>
                <h2>You have not registered any house on our website.</h2><br>
            <% } %>
            <% for(var x of houses) { %>
                <div class="houses">
                <% for(var p in x) { %>
                    <%if(x[p] && p!='HOUSE_ID' && p!='OWNER_ID' && p!='CATEGORY') { %>
                        <p><%=p%> : <%=x[p]%></p>
                    <% } %>
                <% } %>
                <form method="post" action="/update-house-info">
                    <input type="number" name="category" style="display:none" value="<%=x['CATEGORY']%>">
                    <button type="submit" value="<%=x['HOUSE_ID']%>" name="house_id">Edit info</button>
                    <button type="submit" formaction="/delete-house" formmethod="post" name="house_id" value="<%=x['HOUSE_ID']%>">Delete</button>
                </form>
                </div>
                <br><br>
            <% } %>
        <% } else { %>
            <% if(houses.length > 0) {%>
                <h2>recommendations:</h2><br>
            <% } else { %>
                <h2>Your preferences did not help us to generate any recommendations :</h2><br>
            <% } %>
            <% for(var x of houses) { %>
                <div class="houses">
                <% for(var p in x) { %>
                    <%if(x[p] && p!='HOUSE_ID' && p!='OWNER_ID' && p!='CATEGORY') { %>
                        <p><%=p%> : <%=x[p]%></p>
                    <% } %>
                <% } %>
                <!-- <form method="post" action="/update-house-info">
                    <input type="number" name="category" style="display:none" value="<%=x['CATEGORY']%>">
                    <button type="submit" value="<%=x['HOUSE_ID']%>" name="house_id">Edit info</button>
                    <button type="submit" formaction="/delete-house" formmethod="post" name="house_id" value="<%=x['HOUSE_ID']%>">Delete</button>
                </form> -->
                </div>
                <br><br>
            <% } %>
        <% } %>
    </main>

    <hr>

    <footer>
        <p>
            Want to use another account? <a href="/login">Login here</a>
        </p>
        <p>
            Want to create a new account? <a href="/create">Create one here</a>
        </p>
        <p>
            <a href="/search">Advanced search</a>
        </p>
    </footer>

</body>

</html>